# Geolocation

In [2]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/json?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(5)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Retrieving http://py4e-data.dr-chuck.net/json?address=Universitat+Politecnica+de+Valencia&key=42

Retrieved 2100 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Universite+Catholique+de+Louvain&key=42
Retrieved 2408 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+College+Dublin&key=42
Retrieved 1667 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+Munich&key=42
Retrieved 4833 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Akron&key=42
Retrieved 2105 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Alberta&key=42
Retrieved 1818 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Amsterdam&key=42
Retrieved 2050 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Arkansas&key=42
Retrieved 1823 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Athens&key=42
Retrieved 1625 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Belgrade&key=42
Retrieved 1944 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Birmingham&key=42
Retrieved 1631 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Buenos+Aires&key=42
Retrieved 2132 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cambridge&key=42
Retrieved 2126 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Central+Oklahoma&key=42
Retrieved 2270 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Chicago&key=42
Retrieved 2457 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Cincinnati&key=42
Retrieved 2298 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Colorado+at+Boulder&key=42
Retrieved 1800 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Connecticut&key=42
Retrieved 4029 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Dallas&key=42
Retrieved 2263 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Debrecen&key=42
Retrieved 1711 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Delaware&key=42
Retrieved 1793 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Erlangen-Nuremberg&key=42
Retrieved 2263 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Essex&key=42
Retrieved 1992 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Evora&key=42
Retrieved 1928 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Florida&key=42
Retrieved 1805 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Gothenburg&key=42
Retrieved 1983 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Greifswald&key=42
Retrieved 2140 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hamburg&key=42
Retrieved 1969 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Hawaii&key=42
Retrieved 4683 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Helsinki&key=42
Retrieved 1720 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ilorin+Kwara+State&key=42
Retrieved 1922 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Jaffna&key=42
Retrieved 2016 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kansas&key=42
Retrieved 2115 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Kerala&key=42
Retrieved 2297 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+London&key=42
Retrieved 1977 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaga&key=42
Retrieved 2080 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Malaya&key=42
Retrieved 1961 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Manchester&key=42
Retrieved 1966 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Michigan&key=42
Retrieved 2274 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Missouri+-+Columbia&key=42
Retrieved 1814 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Moratuwa&key=42
Retrieved 2024 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Mumbai&key=42
Retrieved 2369 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska&key=42
Retrieved 2096 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Nebraska+-+Lincoln&key=42
Retrieved 2096 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+Haven&key=42
Retrieved 2133 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+New+South+Wales&key=42
Retrieved 1808 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Notre+Dame&key=42
Retrieved 2007 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oklahoma&key=42
Retrieved 2113 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Ottawa&key=42
Retrieved 2292 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Oxford&key=42
Retrieved 1773 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Padua&key=42
Retrieved 2288 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pavia+Italy&key=42
Retrieved 2293 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pennsylvania&key=42
Retrieved 1826 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Piraeus+Athens&key=42
Retrieved 1916 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Pretoria&key=42
Retrieved 2222 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Salamanca&key=42
Retrieved 1785 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sao+Paulo&key=42
Retrieved 1704 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Sarajevo&key=42
Retrieved 2214 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Southern+California&key=42
Retrieved 2004 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Stellenbosch&key=42
Retrieved 1903 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tartu&key=42
Retrieved 1757 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tehran&key=42

Retrieved 1650 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas&key=42
Retrieved 1782 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Texas+at+Austin&key=42
Retrieved 1782 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Toronto&key=42
Retrieved 2325 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Tuebingen&key=42
Retrieved 2175 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Twente&key=42
Retrieved 2101 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Utah&key=42
Retrieved 2145 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Vienna&key=42
Retrieved 2127 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Warsaw&key=42
Retrieved 2331 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington&key=42
Retrieved 1660 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Washington+-+Bothell&key=42
Retrieved 2270 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Waterloo&key=42
Retrieved 2175 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+West+Florida&key=42
Retrieved 2340 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+Wisconsin&key=42
Retrieved 1632 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Punjab+Lahore&key=42
Retrieved 2213 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=University+of+the+Witwatersrand&key=42
Retrieved 2406 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+Gediminas+Technical+University&key=42
Retrieved 2145 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Vilnius+University&key=42
Retrieved 2143 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Commonwealth+University&key=42
Retrieved 1905 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=Virginia+Tech&key=42
Retrieved 1822 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Viswakarma+Institute+Pune+India&key=42
Retrieved 2561 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Warsaw+University&key=42
Retrieved 2331 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Washington+State+University&key=42
Retrieved 1612 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Wayne+State&key=42
Retrieved 2469 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weber+State&key=42
Retrieved 2100 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Weizmann+Institute+of+Science&key=42
Retrieved 1927 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Western+Governors+University&key=42
Retrieved 2248 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Xavier+University&key=42
Retrieved 2297 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=Zagazig+University&key=42
Retrieved 2097 characters {    "results" : [
Pausing for a bit...

Retrieving http://py4e-data.dr-chuck.net/json?address=allama+iqbal+open+university+islamabad&key=42
Retrieved 2912 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=arizona+state+university&key=42
Retrieved 1652 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=federal+institute+of+tecnology+and+education+from+southeastern+Minas+Gerais&key=42
Retrieved 2291 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=kansas+state+university&key=42
Retrieved 1795 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=universidad+complutense+de+madrid&key=42
Retrieved 1932 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+Patras&key=42
Retrieved 1651 characters {    "results" : [

Retrieving http://py4e-data.dr-chuck.net/json?address=university+of+padua&key=42
Retrieved 2288 characters {    "results" : [
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [4]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

aleja Adama Mickiewicza 30, 30-059 Kraków, Poland 50.06688579999999 19.9136192
Krakowskie Przedmieście 5, 00-068 Warszawa, Poland 52.2394019 21.0150792
AUC Avenue، Road، New Cairo 1, Cairo Governorate 11835, Egypt 30.0186205 31.5014854
Arizona, USA 34.0489281 -111.0937311
Monumental Plaza, Building C, 1st Floor, Leof. Kifisias 44, Marousi 151 25, Greece 38.0399391 23.8030901
Vidya Vihar, Pilani, Rajasthan 333031, India 28.3588163 75.58802039999999
121103, Ilishan-Remo, Nigeria 6.891986300000001 3.7181286
Ajagara, Varanasi, Uttar Pradesh 221005, India 25.2677203 82.99125819999999
Mysore Rd, Jnana Bharathi, Bengaluru, Karnataka 560056, India 12.9504048 77.5020617
1311 S 5th St, Waco, TX 76706, USA 31.5488923 -97.1130573
19 Xinwai Ave, Beitaipingzhuang, Hai Dian Qu, Bei Jing Shi, China, 100875 39.9619537 116.3662615
prasp. Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
700 College St, Beloit, WI 53511, USA 42.5030333 -89.0309048
prasp. Niezaliežnasci 4, Minsk, Belarus 53.8938988 27.5460609
David Ben Gurion Blvd 1, Beer Sheva, Israel 31.261426 34.7995546
Palkalaiperur, Tiruchirappalli, Tamil Nadu 620024, India 10.6779085 78.74454879999999
Boston, MA 02215, USA 42.3504997 -71.1053991
1 Grand Ave, San Luis Obispo, CA 93407, USA 35.3011298 -120.6582825
5500 University Pkwy, San Bernardino, CA 92407, USA 34.1813584 -117.3231875
25 Paddington Grn, London W2 1NB, UK 51.5210416 -0.1746649
New York, NY 10027, USA 40.8075355 -73.9625727
College Rd, Cranfield, Wharley End, Bedford MK43 0AL, UK 52.0746136 -0.6282833
166 36 Prague 6, Czechia 50.1030364 14.3912841
Hanover, NH 03755, USA 43.7044406 -72.2886935
21250 Stevens Creek Blvd, Cupertino, CA 95014, USA 37.3192827 -122.0447913
Universitätsstraße 11, 58097 Hagen, Germany 51.3769424 7.4946354
Haharina Ave, 72, Dnipropetrovsk, Dnipropetrovska oblast, Ukraine, 49000 48.4331922 35.0427966
No: 144 35210, Alsancak, Cumhuriyet Blv, 35220 Konak/İzmir, Turkey 38.430691 27.13692
3141 Chestnut St, Philadelphia, PA 19104, USA 39.9566127 -75.18994409999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Durham, NC 27708, USA 36.0014258 -78.9382286
23 Av. Guy de Collongue, 69130 Écully, France 45.7864448 4.7641329
CentraleSupélec, 3 Rue Joliot Curie, 91190 Gif-sur-Yvette, France 48.709445 2.1661629
50 Campus Drive, Elon, NC 27244, USA 36.1026877 -79.5023313
Alsion 4, 6400 Sønderborg, Denmark 54.9134537 9.7780196
Vía Perimetral 5, Guayaquil, Ecuador -2.1480702 -79.9644896
Münsterstraße 156, 40476 Düsseldorf, Germany 51.24683899999999 6.7916647
Urstein S 1, 5412 Salzburg, Austria 47.7233835 13.0871253
Av. Pereira Barreto, 400 - Vila Baeta Neves - Centro, São Bernardo do Campo - SP, 09751-000, Brazil -23.6956191 -46.5469041
Trg Dositeja Obradovića 6, Novi Sad 106314, Serbia 45.2461012 19.8516968
2350 NY-110, Farmingdale, NY 11735, USA 40.7529167 -73.4266988
Av. Pres. Antônio Carlos, 6627 - Pampulha, Belo Horizonte - MG, 31270-901, Brazil -19.870682 -43.9677359
777 Glades Rd, Boca Raton, FL 33431, USA 26.3749876 -80.10106329999999
40 University Dr, Rindge, NH 03461, USA 42.7789743 -72.05553929999999
Gopinath Bordoloi Nagar, Jalukbari, Guwahati, Assam 781014, India 26.1540317 91.6629743
4400 University Dr, Fairfax, VA 22030, USA 38.8471163 -77.305204
600 New Jersey Ave NW, Washington, DC 20001, USA 38.8977953 -77.0129087
Atlanta, GA 30302, USA 33.753068 -84.38528190000001
Grandville, MI, USA 42.9097484 -85.7630885
Andreas Vesaliusstraat 13, 3000 Leuven, Belgium 50.87485419999999 4.7077677
1 Đại Cồ Việt, Bách Khoa, Hai Bà Trưng, Hà Nội, Vietnam 21.0070253 105.843136
Jerusalem 31.7945578 35.2414009
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5123388 80.2329
Raja 4, 12616 Tallinn, Estonia 59.3954004 24.6641777
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
Santa Croce, 191, 30135 Venezia VE, Italy 45.4377574 12.3223297
10 W 35th St, Chicago, IL 60616, USA 41.8348731 -87.6270059
Jr College, Joliet, IL 60431, USA 41.5042613 -88.17752689999999
IIT Delhi Main Rd, IIT Campus, Hauz Khas, New Delhi, Delhi 110016, India 28.545718 77.19276789999999
Kharagpur, West Bengal 721302, India 22.3149274 87.31053109999999
Police Line Road, Main Campus IIT (ISM, near Rani Bandh, IIT (ISM, Hirapur, Sardar Patel Nagar, Dhanbad, Jharkhand 826004, India 23.8142953 86.44118069999999
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
107 S Indiana Ave, Bloomington, IN 47405, USA 39.1784384 -86.5133166
3230 Rue Sicotte, Saint-Hyacinthe, QC J2S 2M2, Canada 45.618429 -72.9672599
1460 Broadway, New York, NY 10036, USA 40.7551279 -73.9861749
Av. de los Próceres 49, Santo Domingo 10602, Dominican Republic 18.4880037 -69.96249499999999
Professor CR Rao Rd, Gachibowli, Hyderabad, Telangana 500032, India 17.4448649 78.34981379999999
Karl Marx St, 1, Irkutsk, Irkutskaya oblast, Russia, 664003 52.2766643 104.2777445
Jadavpur University Campus Area, Jadavpur, Jadavpur, Kolkata, West Bengal 700032, India 22.4975177 88.3710502
F9VR+8H2, Ashok Nagar, Kukatpally Housing Board Colony, Kukatpally, Hyderabad, Telangana 500085, India 17.4932682 78.3913929
New Mehrauli Road, JNU Ring Rd, New Delhi, Delhi 110067, India 28.5402232 77.1662154
3030, الرمثا، Jordan 32.4950392 35.9912257
Manhattan, KS 66506, USA 39.1974437 -96.5847249
1 Hospital Dr, Columbia, MO 65212, USA 38.938273 -92.3273842
1200 Academy St, Kalamazoo, MI 49006, USA 42.290035 -85.598145
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
K. Donelaičio g. 73, Kaunas 44249, Lithuania 54.898991 23.912825
Kremlyovskaya St, 18, Kazan, Respublika Tatarstan, Russia, 420008 55.790447 49.1214349
800 E Summit St, Kent, OH 44240, USA 41.1455594 -81.33928829999999
Marshala Bazhanova St, 17, Kharkiv, Kharkivska oblast, Ukraine, 61002 49.9953019 36.2412463
126 Pracha Uthit Rd, Khwaeng Bang Mot, Khet Thung Khru, Krung Thep Maha Nakhon 10140, Thailand 13.6512734 100.4965236
Auezov Street 189, Kökşetaw 020000, Kazakhstan 53.2894288 69.3924614
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488974 30.456977
Peremohy Ave, 37, Kyiv, Ukraine, 03056 50.4488974 30.456977
Velyka Vasylkivska St, 73, Kyiv, Ukraine, 03680 50.427615 30.517108
935 Ramsey Lake Rd, Greater Sudbury, ON P3E 2C6, Canada 46.4672485 -80.9757296
Carrera 19 entre calles 8 y 9. Edificio Rectorado UCLA, Rectorado de la Universidad Centrooccidental Lisandro Alvarado, Carrera 19, Barquisimeto 3001, Lara, Venezuela 10.067504 -69.299891
Stefana Żeromskiego 116, 90-924 Łódź, Poland 51.7537146 19.4517176
Lviv, Lviv Oblast, Ukraine, 79000 49.839683 24.029717
100 Hunter Henry Blvd, Mississippi State, MS 39762, USA 33.4589537 -88.7973592
Navalar Nagar, Chepauk, Triplicane, Chennai, Tamil Nadu 600005, India 13.0660293 80.28317190000001
Lenin Ave, 38, Magnitogorsk, Chelyabinskaya oblast, Russia, 455000 53.42119599999999 58.9819401
Hamadan Province, Malayer, University Blvd, Iran 34.304073 48.8452846
215 5th St, Marietta, OH 45750, USA 39.4164811 -81.4498947
77 Massachusetts Ave, Cambridge, MA 02139, USA 42.360091 -71.09416
Studentski trg 16, Beograd 105104, Serbia 44.8199188 20.4587075
Michigan, USA 42.701848 -84.4821719
Üniversiteler, Dumlupınar Blv. 1/6 D:133, 06800 Çankaya/Ankara, Turkey 39.88983820000001 32.780086
106, Parker Hall, 300 W 13th St, Rolla, MO 65409, USA 37.9537078 -91.7756271
City of Monash, VIC, Australia -37.9015913 145.1155133
Wellington Rd, Clayton VIC 3800, Australia -37.9145125 145.1349971
Northways Rd, Churchill VIC 3842, Australia -38.3110658 146.4284014
Av. Eugenio Garza Sada 2501 Sur, Tecnológico, 64849 Monterrey, N.L., Mexico 25.6515649 -100.28954
Kashira Hwy, 31, Moskva, Russia, 115409 55.6502051 37.6643098
Institutskiy Pereulok, 9, Dolgoprudny, Moskovskaya oblast, Russia, 141701 55.9297243 37.5199434
Ulitsa Kolmogorova, 1, Moskva, Russia, 119991 55.70393490000001 37.5286696
7W32+69H, National Institute of Technology, Sector 1, Rourkela, Odisha 769008, India 22.2530656 84.9009808
New York, NY 10012, USA 40.72951339999999 -73.9964609
Amravati Rd, Ram Nagar, Nagpur, Maharashtra 440033, India 21.1468555 79.050062
50 Nanyang Ave, Singapore 639798 1.3483099 103.6831347
Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011, India 31.3958746 75.5358439
No. 1, Section 4, Roosevelt Rd, Da’an District, Taipei City, Taiwan 10617 25.0173405 121.5397518
Av. Túpac Amaru 210, Rímac 15333, Peru -12.0231787 -77.04763009999999
30 N Brainard St, Naperville, IL 60540, USA 41.772663 -88.1440142
360 Huntington Ave, Boston, MA 02115, USA 42.3398067 -71.0891717
633 Clark St, Evanston, IL 60208, USA 42.0564594 -87.67526699999999
Obninsk, Kaluga Oblast, Russia, 249034 55.13719099999999 36.6070589
5115 Hampton Blvd, Norfolk, VA 23529, USA 36.8853052 -76.3058746
3201 Campus Dr, Klamath Falls, OR 97601, USA 42.2573474 -121.7849109
Autopista Duarte Km 1 1/2, Santiago De Los Caballeros 51000, Dominican Republic 19.4436005 -70.6843785
Tehran Province, Tehran, اتوبان ارتش کوی نفت, Nakhl St, Iran 35.8012314 51.5028533
State College, PA 16801, USA 40.7982133 -77.8599084
Piazza Leonardo da Vinci, 32, 20133 Milano MI, Italy 45.4780977 9.2272562
Splaiul Independenței 313, București 060042, Romania 44.4386064 26.0494925
Piața Victoriei 2, Timișoara 300006, Romania 45.7536393 21.2251615
Pondicherry University, Chinna Kalapet, Kalapet, Puducherry 605014, India 12.0182619 79.8568461
Av Libertador Bernardo OHiggins 340, Santiago, Región Metropolitana, Chile -33.44180680000001 -70.6399544
1825 SW Broadway, Portland, OR 97201, USA 45.5111471 -122.6834235
420 University Blvd, Indianapolis, IN 46202, USA 39.7749927 -86.1772798
Mysore Rd, RV Vidyaniketan, Post, Bengaluru, Karnataka 560059, India 12.9237228 77.4987012
110 8th St, Troy, NY 12180, USA 42.7297628 -73.67888839999999
505 Ramapo Valley Rd, Mahwah, NJ 07430, USA 41.0815852 -74.17610150000002
1 Lomb Memorial Dr, Rochester, NY 14623, USA 43.0849643 -77.671866
Trichy-Tanjore Road, Thirumalaisamudram, Thanjavur, Tamil Nadu 613401, India 10.7285131 79.0184111
University Embankment, 7/9, Sankt-Peterburg, Russia, 199034 59.941894 30.2989199
Bolshaya Morskaya Ulitsa, 67, Sankt-Peterburg, Russia, 190000 59.929491 30.2966081
Politekhnicheskaya Ulitsa, 29, Sankt-Peterburg, Russia, 195251 60.0076235 30.3731954
1600 Holloway Ave, San Francisco, CA 94132, USA 37.7241492 -122.4799405
1 Washington Sq, San Jose, CA 95192, USA 37.3351874 -121.8810715
China, Shang Hai Shi, Min Hang Qu, 老闵行东川路 邮政编码: 200240 31.0252201 121.4337784
بزرگ،, خیابان آزادی،, Iran 35.7035815 51.3517227
Sartenejas, Caracas, Miranda, Venezuela 10.408363 -66.8755735
8888 University Dr, Burnaby, BC V5A 1S6, Canada 49.2780937 -122.9198833
Ulitsa Przhevalskogo, 4, Smolensk, Smolenskaya oblast, Russia, 214000 54.7845032 32.0452469
1801 E Cotati Ave, Rohnert Park, CA 94928, USA 38.3409222 -122.6730677
ул, Bolshaya Sadovaya Ulitsa, 105/42, Rostov, Rostovskaya oblast, Russia, 344006 47.224719 39.7283339
Strada Ion Ghica 13, București 030045, Romania 44.4331403 26.1012535
450 Serra Mall, Stanford, CA 94305, USA 37.4274745 -122.169719
Cidade Universitária Zeferino Vaz - Barão Geraldo, Campinas - SP, 13083-970, Brazil -22.8184393 -47.0647206
7060 NY-104, Oswego, NY 13126, USA 43.45139280000001 -76.5425285
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
320 Washington St, North Easton, MA 02357, USA 42.058162 -71.08080029999999
Narva mnt 25, 10120 Tallinn, Estonia 59.4387321 24.7713836
Ehitajate tee 5, 12616 Tallinn, Estonia 59.3959451 24.6710596
Kalevantie 4, 33100 Tampere, Finland 61.49410729999999 23.7792354
El-Gaish, Tanta Qism 2, Tanta, Gharbia Governorate, Egypt 30.7924391 30.9991409
300 Trinity Campus Circle, Fort Worth, TX 76102, USA 32.7474661 -97.3278753
Strada Memorandumului 28, Cluj-Napoca 400114, Romania 46.769299 23.585613
970 Lawrence Ave W suite 206, North York, ON M6A 3B6, Canada 43.7137107 -79.45837039999999
Tel Aviv-Yafo, Israel 32.1133141 34.8043877
Velachery Rd, Narayanapuram, Pallikaranai, Chennai, Tamil Nadu 600100, India 12.9456381 80.2077491
Raiņa bulvāris 19, Centra rajons, Rīga, LV-1586, Latvia 56.95080979999999 24.1163132
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
Columbia, SC 29208, USA 33.9937575 -81.0299186
300 N Broadway, Lexington, KY 40508, USA 38.0516801 -84.49334189999999
419 Boston Ave, Medford, MA 02155, USA 42.4085371 -71.1182729
Berkeley, CA, USA 37.8718992 -122.2585399
Los Angeles, CA 90095, USA 34.068921 -118.4451811
9500 Gilman Dr, La Jolla, CA 92093, USA 32.8800604 -117.2340135
Champaign, IL, USA 40.1019523 -88.2271615
3412 England Dr, Alexandria, LA 71303, USA 31.32576 -92.49024
Preller St, Muckleneuk, Pretoria, 0002, South Africa -25.7676604 28.1992624
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
101 Regent Ct, State College, PA 16801, USA 40.785212 -77.823071
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Madison, WI, USA 43.076592 -89.4124875
Facultad de Ciencias, UCV, Caracas 1040, Distrito Capital, Venezuela 10.4869942 -66.894094
Av. Séneca, 2, 28040 Madrid, Spain 40.4454368 -3.7299424
University City, Coyoacán, 04510 Mexico City, CDMX, Mexico 19.3228313 -99.18657739999999
Avenida 1, Calle 9 Heredia 86 Heredia, Heredia, 40101, Costa Rica 9.9987964 -84.11147489999999
Cra 45, Bogotá, Colombia 4.6381938 -74.08404639999999
C. Colombia 154, La Paz, Bolivia -16.5005605 -68.1342962
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
Rectorado UCLM, C. Altagracia, 50, 13001 Ciudad Real, Cdad. Real, Spain 38.9934998 -3.9254365
Cra. 1 #18a-12, Bogotá, Cundinamarca, Colombia 4.601458099999999 -74.0661334
Universidad de Oriente, Av. 21 Ote. 1816, Zona Sin Asignación de Nombre de Col 39, Azcarate, 72501 Puebla, Pue., Mexico 19.0303925 -98.1903494
11 Avenida, Cdad. de Guatemala 01012, Guatemala 14.5873005 -90.55336129999999
C/Plaza de Santa Cruz, 8, 47002 Valladolid, Spain 41.6569271 -4.7140547
Chía, Cundinamarca, Colombia 4.8615787 -74.0325368
18 Avenida 11-95 Guatemala, Cdad. de Guatemala 01015, Guatemala 14.603762 -90.48924799999999
Campus I - Lot. Cidade Universitaria, João Pessoa - PB, 58051-900, Brazil -7.1377579 -34.8458995
R. Eng. Agronômico Andrei Cristian Ferreira, s/n - Trindade, Florianópolis - SC, 88040-900, Brazil -27.5999666 -48.5194152
Av. Paulo Gama, 110 Secretaria de Comunicação Social - 8º andar - Reitoria - Farroupilha, Porto Alegre - RS, 90040-060, Brazil -30.0332408 -51.2207273
Av. Pedro Calmon, 550 - Cidade Universitária da Universidade Federal do Rio de Janeiro, Rio de Janeiro - RJ, 21941-901, Brazil -22.8625345 -43.2234737
Av. Rovisco Pais 1, 1049-001 Lisboa, Portugal 38.7368192 -9.138705
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
R. da Universidade, 4710-057 Braga, Portugal 41.5607319 -8.3962368
Bulaksumur, Caturtunggal, Kec. Depok, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281, Indonesia -7.7713847 110.3774998
Camí de Vera, s/n, 46022 València, Valencia, Spain 39.4807985 -0.3406299
Pl. de lUniversité 1, 1348 Ottignies-Louvain-la-Neuve, Belgium 50.6696767 4.615875
University College Dublin, Belfield, Dublin 4, Ireland 53.3064642 -6.2254879
Geschwister-Scholl-Platz 1, 80539 München, Germany 48.1504827 11.5802362
302 E Buchtel Ave, Akron, OH 44325, USA 41.0770227 -81.5114462
116 St & 85 Ave, Edmonton, AB T6G 2R3, Canada 53.5232189 -113.5263186
1012 WX Amsterdam, Netherlands 52.35581819999999 4.955726299999999
Fayetteville, AR 72701, USA 36.0686895 -94.1748471
Athens 157 72, Greece 37.968196 23.7786871
Studentski trg 1, Beograd, Serbia 44.8184518 20.4575913
Birmingham, UK 52.4508168 -1.9305135
Viamonte 430, C1053 CABA, Argentina -34.5998875 -58.37306949999999
The Old Schools, Trinity Ln, Cambridge CB2 1TN, UK 52.2042666 0.1149085
100 N University Dr, Edmond, OK 73034, USA 35.657506 -97.4709491
5801 S Ellis Ave, Chicago, IL 60637, USA 41.7886079 -87.5987133
2600 Clifton Ave, Cincinnati, OH 45221, USA 39.1329219 -84.51495039999999
Boulder, CO 80309, USA 40.00758099999999 -105.2659417
Storrs, CT 06269, USA 41.8077414 -72.2539805
1845 E Northgate Dr, Irving, TX 75062, USA 32.8449929 -96.9186842
Debrecen, Egyetem tér 1, 4032 Hungary 47.5536257 21.6215102
Newark, DE 19716, USA 39.6779504 -75.7506114
Schloßplatz 4, 91054 Erlangen, Germany 49.5978804 11.0045507
Wivenhoe Park, Colchester CO4 3SQ, UK 51.87772589999999 0.9472069000000001
Largo dos Colegiais 2, 7004-516 Évora, Portugal 38.572984 -7.905253999999999
Gainesville, FL 32611, USA 29.6436325 -82.3549302
405 30 Gothenburg, Sweden 57.6981719 11.971878
Domstraße 11, 17489 Greifswald, Germany 54.0949653 13.374584
20146 Hamburg, Germany 53.5665641 9.984619499999999
Dole Street Offices, 2327 Dole St, Honolulu, HI 96822, USA 21.2965718 -157.8226774
Yliopistonkatu 4, 00100 Helsinki, Finland 60.1726348 24.9510419
P.M.B, 1515, 240102, Ilorin, Nigeria 8.4795412 4.6712231
Sir. Pon, Ramanathan Rd, Jaffna, Sri Lanka 9.684855599999999 80.0220413
1450 Jayhawk Blvd, Lawrence, KS 66045, USA 38.9543439 -95.2557961
University of Kerala Senate House Campus, Palayam, Thiruvananthapuram, Kerala 695034, India 8.5032375 76.9473306
Senate House, Malet St, London WC1E 7HU, UK 51.5229378 -0.1308206
Av. de Cervantes, 2, 29016 Málaga, Spain 36.7199495 -4.4161391
Jln Profesor Diraja Ungku Aziz, 50603 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia 3.1209046 101.6538414
Oxford Rd, Manchester M13 9PL, UK 53.4668498 -2.2338837
500 S State St, Ann Arbor, MI 48109, USA 42.2780436 -83.7382241
Columbia, MO 65211, USA 38.9403808 -92.32773750000001
Bandaranayake Mawatha, Moratuwa 10400, Sri Lanka 6.7951276 79.90086699999999
Mahatma Gandhi Road, Mantralaya, Fort, Mumbai, Maharashtra 400032, India 18.9294242 72.8309786
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
1400 R St, Lincoln, NE 68588, USA 40.8201966 -96.70047629999999
300 Boston Post Rd, West Haven, CT 06516, USA 41.2906121 -72.9615489
Sydney NSW 2052, Australia -33.917347 151.2312675
Notre Dame, IN 46556, USA 41.6991133 -86.2387627
660 Parrington Oval, Norman, OK 73019, USA 35.2058936 -97.4457137
75 Laurier Ave. E, Ottawa, ON K1N 6N5, Canada 45.42310639999999 -75.68313289999999
Oxford OX1 2JD, UK 51.7548164 -1.2543668
Via VIII Febbraio, 2, 35122 Padova PD, Italy 45.406766 11.8774462
Corso Str. Nuova, 65, 27100 Pavia PV, Italy 45.1867045 9.1570944
Philadelphia, PA 19104, USA 39.9522188 -75.1932137
Karaoli ke Dimitriou 80, Pireas 185 34, Greece 37.9415137 23.6528681
Lynnwood Rd, Hatfield, Pretoria, 0002, South Africa -25.7545492 28.2314476
37008 Salamanca, Spain 40.9613376 -5.666925099999999
Butanta, São Paulo - State of São Paulo, Brazil -23.5613991 -46.7307891
Obala Kulina bana 7/II, Sarajevo 71000, Bosnia and Herzegovina 43.8568576 18.4189278
Los Angeles, CA 90007, USA 34.0223519 -118.285117
Stellenbosch Central, Stellenbosch, South Africa -33.9328078 18.864447
Ülikooli 18, 50090 Tartu, Estonia 58.3810843 26.7198659
Tehran, استان تهران تهران Enghelab Square، 16 Azar St, Iran 35.7022192 51.39573069999999
Austin, TX 78712, USA 30.2849185 -97.7340567
Austin, TX 78712, USA 30.2849185 -97.7340567
27 Kings College Cir, Toronto, ON M5S 1A1, Canada 43.66090860000001 -79.39595179999999
Geschwister-Scholl-Platz, 72074 Tübingen, Germany 48.5294782 9.043773999999999
Drienerlolaan 5, 7522 NB Enschede, Netherlands 52.2396538 6.84979
201 Presidents Cir, Salt Lake City, UT 84112, USA 40.7649368 -111.8421021
Universitätsring 1, 1010 Wien, Austria 48.21318549999999 16.3600504
Krakowskie Przedmieście 26/28, 00-927 Warszawa, Poland 52.2403463 21.0186012
Seattle, WA 98195, USA 47.65533509999999 -122.3035199
18115 Campus Way NE, Bothell, WA 98011, USA 47.7589719 -122.190707
200 University Ave W, Waterloo, ON N2L 3G1, Canada 43.4722854 -80.5448576
11000 University Pkwy, Pensacola, FL 32514, USA 30.5491387 -87.21858619999999
Madison, WI, USA 43.076592 -89.4124875
Canal Rd, Quaid-i-Azam Campus, Lahore, Punjab, Pakistan 31.47898409999999 74.2661627

# Page Rank

In [1]:
import sqlite3
import urllib.error
import ssl
from urllib.parse import urljoin
from urllib.parse import urlparse
from urllib.request import urlopen
from bs4 import BeautifulSoup

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()

cur.execute('''CREATE TABLE IF NOT EXISTS Pages
    (id INTEGER PRIMARY KEY, url TEXT UNIQUE, html TEXT,
     error INTEGER, old_rank REAL, new_rank REAL)''')

cur.execute('''CREATE TABLE IF NOT EXISTS Links
    (from_id INTEGER, to_id INTEGER, UNIQUE(from_id, to_id))''')

cur.execute('''CREATE TABLE IF NOT EXISTS Webs (url TEXT UNIQUE)''')

# Check to see if we are already in progress...
cur.execute('SELECT id,url FROM Pages WHERE html is NULL and error is NULL ORDER BY RANDOM() LIMIT 1')
row = cur.fetchone()
if row is not None:
    print("Restarting existing crawl.  Remove spider.sqlite to start a fresh crawl.")
else :
    starturl = input('Enter web url or enter: ')
    if ( len(starturl) < 1 ) : starturl = 'http://www.dr-chuck.com/'
    if ( starturl.endswith('/') ) : starturl = starturl[:-1]
    web = starturl
    if ( starturl.endswith('.htm') or starturl.endswith('.html') ) :
        pos = starturl.rfind('/')
        web = starturl[:pos]

    if ( len(web) > 1 ) :
        cur.execute('INSERT OR IGNORE INTO Webs (url) VALUES ( ? )', ( web, ) )
        cur.execute('INSERT OR IGNORE INTO Pages (url, html, new_rank) VALUES ( ?, NULL, 1.0 )', ( starturl, ) )
        conn.commit()

# Get the current webs
cur.execute('''SELECT url FROM Webs''')
webs = list()
for row in cur:
    webs.append(str(row[0]))

print(webs)

many = 0
while True:
    if ( many < 1 ) :
        sval = input('How many pages:')
        if ( len(sval) < 1 ) : break
        many = int(sval)
    many = many - 1

    cur.execute('SELECT id,url FROM Pages WHERE html is NULL and error is NULL ORDER BY RANDOM() LIMIT 1')
    try:
        row = cur.fetchone()
        # print row
        fromid = row[0]
        url = row[1]
    except:
        print('No unretrieved HTML pages found')
        many = 0
        break

    print(fromid, url, end=' ')

    # If we are retrieving this page, there should be no links from it
    cur.execute('DELETE from Links WHERE from_id=?', (fromid, ) )
    try:
        document = urlopen(url, context=ctx)

        html = document.read()
        if document.getcode() != 200 :
            print("Error on page: ",document.getcode())
            cur.execute('UPDATE Pages SET error=? WHERE url=?', (document.getcode(), url) )

        if 'text/html' != document.info().get_content_type() :
            print("Ignore non text/html page")
            cur.execute('DELETE FROM Pages WHERE url=?', ( url, ) )
            conn.commit()
            continue

        print('('+str(len(html))+')', end=' ')

        soup = BeautifulSoup(html, "html.parser")
    except KeyboardInterrupt:
        print('')
        print('Program interrupted by user...')
        break
    except:
        print("Unable to retrieve or parse page")
        cur.execute('UPDATE Pages SET error=-1 WHERE url=?', (url, ) )
        conn.commit()
        continue

    cur.execute('INSERT OR IGNORE INTO Pages (url, html, new_rank) VALUES ( ?, NULL, 1.0 )', ( url, ) )
    cur.execute('UPDATE Pages SET html=? WHERE url=?', (memoryview(html), url ) )
    conn.commit()

    # Retrieve all of the anchor tags
    tags = soup('a')
    count = 0
    for tag in tags:
        href = tag.get('href', None)
        if ( href is None ) : continue
        # Resolve relative references like href="/contact"
        up = urlparse(href)
        if ( len(up.scheme) < 1 ) :
            href = urljoin(url, href)
        ipos = href.find('#')
        if ( ipos > 1 ) : href = href[:ipos]
        if ( href.endswith('.png') or href.endswith('.jpg') or href.endswith('.gif') ) : continue
        if ( href.endswith('/') ) : href = href[:-1]
        # print href
        if ( len(href) < 1 ) : continue

		# Check if the URL is in any of the webs
        found = False
        for web in webs:
            if ( href.startswith(web) ) :
                found = True
                break
        if not found : continue

        cur.execute('INSERT OR IGNORE INTO Pages (url, html, new_rank) VALUES ( ?, NULL, 1.0 )', ( href, ) )
        count = count + 1
        conn.commit()

        cur.execute('SELECT id FROM Pages WHERE url=? LIMIT 1', ( href, ))
        try:
            row = cur.fetchone()
            toid = row[0]
        except:
            print('Could not retrieve id')
            continue
        # print fromid, toid
        cur.execute('INSERT OR IGNORE INTO Links (from_id, to_id) VALUES ( ?, ? )', ( fromid, toid ) )


    print(count)

cur.close()

Enter web url or enter:
['http://www.dr-chuck.com']
How many pages:10
No unretrieved HTML pages found

In [6]:
import sqlite3

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()

# Find the ids that send out page rank - we only are interested
# in pages in the SCC that have in and out links
cur.execute('''SELECT DISTINCT from_id FROM Links''')
from_ids = list()
for row in cur: 
    from_ids.append(row[0])

# Find the ids that receive page rank 
to_ids = list()
links = list()
cur.execute('''SELECT DISTINCT from_id, to_id FROM Links''')
for row in cur:
    from_id = row[0]
    to_id = row[1]
    if from_id == to_id : continue
    if from_id not in from_ids : continue
    if to_id not in from_ids : continue
    links.append(row)
    if to_id not in to_ids : to_ids.append(to_id)

# Get latest page ranks for strongly connected component
prev_ranks = dict()
for node in from_ids:
    cur.execute('''SELECT new_rank FROM Pages WHERE id = ?''', (node, ))
    row = cur.fetchone()
    prev_ranks[node] = row[0]

sval = input('How many iterations:')
many = 1
if ( len(sval) > 0 ) : many = int(sval)

# Sanity check
if len(prev_ranks) < 1 : 
    print("Nothing to page rank.  Check data.")
    quit()

# Lets do Page Rank in memory so it is really fast
for i in range(many):
    # print prev_ranks.items()[:5]
    next_ranks = dict();
    total = 0.0
    for (node, old_rank) in list(prev_ranks.items()):
        total = total + old_rank
        next_ranks[node] = 0.0
    # print total

    # Find the number of outbound links and sent the page rank down each
    for (node, old_rank) in list(prev_ranks.items()):
        # print node, old_rank
        give_ids = list()
        for (from_id, to_id) in links:
            if from_id != node : continue
           #  print '   ',from_id,to_id

            if to_id not in to_ids: continue
            give_ids.append(to_id)
        if ( len(give_ids) < 1 ) : continue
        amount = old_rank / len(give_ids)
        # print node, old_rank,amount, give_ids
    
        for id in give_ids:
            next_ranks[id] = next_ranks[id] + amount
    
    newtot = 0
    for (node, next_rank) in list(next_ranks.items()):
        newtot = newtot + next_rank
    evap = (total - newtot) / len(next_ranks)

    # print newtot, evap
    for node in next_ranks:
        next_ranks[node] = next_ranks[node] + evap

    newtot = 0
    for (node, next_rank) in list(next_ranks.items()):
        newtot = newtot + next_rank

    # Compute the per-page average change from old rank to new rank
    # As indication of convergence of the algorithm
    totdiff = 0
    for (node, old_rank) in list(prev_ranks.items()):
        new_rank = next_ranks[node]
        diff = abs(old_rank-new_rank)
        totdiff = totdiff + diff

    avediff = totdiff / len(prev_ranks)
    print(i+1, avediff)

    # rotate
    prev_ranks = next_ranks

# Put the final ranks back into the database
print(list(next_ranks.items())[:5])
cur.execute('''UPDATE Pages SET old_rank=new_rank''')
for (id, new_rank) in list(next_ranks.items()) :
    cur.execute('''UPDATE Pages SET new_rank=? WHERE id=?''', (new_rank, id))
conn.commit()
cur.close()

How many iterations:1
1 1.3460080215854653e-05
[(1, 1.0499955719134433), (2, 2.187496335142608), (3, 0.6125106600597108), (4, 1.0499972504991628), (9, 0.5250014659429572)]

In [2]:
import sqlite3

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()

cur.execute('''SELECT COUNT(from_id) AS inbound, old_rank, new_rank, id, url 
     FROM Pages JOIN Links ON Pages.id = Links.to_id
     WHERE html IS NOT NULL
     GROUP BY id ORDER BY inbound DESC''')

count = 0
for row in cur :
    if count < 50 : print(row)
    count = count + 1
print(count, 'rows.')
cur.close()

(4, 2.1875147350737847, 2.187496335142608, 2, 'http://www.dr-chuck.com/dr-chuck/resume/index.htm')
(2, 0.5249941059704861, 0.5250014659429572, 12, 'http://www.dr-chuck.com/dr-chuck/resume')
(2, 1.0499915691124113, 1.0499972504991628, 10, 'http://www.dr-chuck.com/dr-chuck/resume/speaking.htm')
(2, 1.0499915691124113, 1.0499972504991628, 4, 'http://www.dr-chuck.com/dr-chuck/resume/bio.htm')
(2, 1.0500242822630212, 1.0499955719134433, 1, 'http://www.dr-chuck.com')
(1, 1.0, 1.0, 13, 'http://www.dr-chuck.com/dr-chuck/resume/pictures')
(1, 1.0, 1.0, 11, 'http://www.dr-chuck.com/dr-chuck/resume/pictures/index.htm')
(1, 0.5249941059704861, 0.5250014659429572, 9, 'http://www.dr-chuck.com/dr-chuck/resume/leadership.htm')
(1, 0.6124896324973993, 0.6125106600597108, 3, 'http://www.dr-chuck.com/sakai-book')
9 rows.

In [4]:
import sqlite3

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()

print("Creating JSON output on spider.js...")
howmany = int(input("How many nodes? "))

cur.execute('''SELECT COUNT(from_id) AS inbound, old_rank, new_rank, id, url 
    FROM Pages JOIN Links ON Pages.id = Links.to_id
    WHERE html IS NOT NULL AND ERROR IS NULL
    GROUP BY id ORDER BY id,inbound''')

fhand = open('spider.js','w')
nodes = list()
maxrank = None
minrank = None
for row in cur :
    nodes.append(row)
    rank = row[2]
    if maxrank is None or maxrank < rank: maxrank = rank
    if minrank is None or minrank > rank : minrank = rank
    if len(nodes) > howmany : break

if maxrank == minrank or maxrank is None or minrank is None:
    print("Error - please run sprank.py to compute page rank")
    quit()

fhand.write('spiderJson = {"nodes":[\n')
count = 0
map = dict()
ranks = dict()
for row in nodes :
    if count > 0 : fhand.write(',\n')
    # print row
    rank = row[2]
    rank = 19 * ( (rank - minrank) / (maxrank - minrank) ) 
    fhand.write('{'+'"weight":'+str(row[0])+',"rank":'+str(rank)+',')
    fhand.write(' "id":'+str(row[3])+', "url":"'+row[4]+'"}')
    map[row[3]] = count
    ranks[row[3]] = rank
    count = count + 1
fhand.write('],\n')

cur.execute('''SELECT DISTINCT from_id, to_id FROM Links''')
fhand.write('"links":[\n')

count = 0
for row in cur :
    # print row
    if row[0] not in map or row[1] not in map : continue
    if count > 0 : fhand.write(',\n')
    rank = ranks[row[0]]
    srank = 19 * ( (rank - minrank) / (maxrank - minrank) ) 
    fhand.write('{"source":'+str(map[row[0]])+',"target":'+str(map[row[1]])+',"value":3}')
    count = count + 1
fhand.write(']};')
fhand.close()
cur.close()

print("Open force.html in a browser to view the visualization")

Creating JSON output on spider.js...
How many nodes? 20
Open force.html in a browser to view the visualization