# Strings - More operations

In [2]:
fruit = 'banana'
letter = fruit[3]
print(letter)
letter = fruit[-1]
print(letter)
letter = fruit[0]
print(letter)

a
a
b

In [3]:
letter = fruit[7]
print(letter)

IndexError: string index out of range

In [4]:
print(len(fruit))

6

In [7]:
count_a = 0
for i in fruit:
    if i == 'a': count_a += 1
    print(i)
print("a occures", count_a, "times")

b
a
n
a
n
a
a occures 3 times

In [9]:
s = "Monty Python"
print(s[:5])
print(s[8:])
print(s[:])
print(s[::-1])
print(s[::2])

Monty
thon
Monty Python
nohtyP ytnoM
MnyPto

In [10]:
a = "hello"
b = "there"
print(a + ' ' +b)

hello there

In [11]:
'nana' in fruit

True

In [12]:
print(fruit.upper())

BANANA

In [13]:
print(fruit.capitalize())

Banana

In [17]:
type(fruit)
dir(fruit)
print(fruit.find('na'))

2

In [19]:
greet = "  Hello Ketan!    "
print(greet)
print(greet.replace('Hello','Howdy'))
print(greet)
print(greet.lstrip())
print(greet.rstrip())
print(greet.strip())

  Hello Ketan!
  Howdy Ketan!
  Hello Ketan!
Hello Ketan!
  Hello Ketan!
Hello Ketan!

In [21]:
mail = "pratik.tabhane@konverge.ai"
atpos = mail.find('@')
host = mail[atpos+1:]
print(host)

konverge.ai

In [22]:
a = "नमस्कार"
print(type(a))
a = u'नमस्कार'
print(type(a))

<class 'str'>
<class 'str'>

In [30]:
file = open("README.md")
print(file)
file = open("README.md",'r')
print(file)
c = 0
for i in file:
    print(i.rstrip())
    c += 1
print(c)

<_io.TextIOWrapper name='README.md' mode='r' encoding='cp1252'>
<_io.TextIOWrapper name='README.md' mode='r' encoding='cp1252'>
# Bootcamp-DE
Data Engineering Bootcamp

1. Git
2. Python for Everybody
5

# Lists

In [2]:
lis = [1, 2, 5]
# dir(lis)
lis.sort(reverse=True)
lis

[5, 2, 1]

In [3]:
sum = 0
avg = 0
for i in lis:
    sum += i
l = len(lis)
avg = float(sum)/l
avg

2.6666666666666665

In [7]:
lis.append(7)
print(lis)
lis .pop()
print(lis)
lis.insert(2,12)
print(lis)

[5, 2, 1, 20, 1, 7]
[5, 2, 1, 20, 1]
[5, 2, 12, 1, 20, 1]

In [8]:
st = "im enjoying this bootcamp"
fun = st.split()
print(fun)

['im', 'enjoying', 'this', 'bootcamp']

In [10]:
sen = "from:now:on:go"
l = sen.split(':')
l

['from', 'now', 'on', 'go']

In [13]:
mail = "pratik.tabhane@konverge.ai"
l = mail.split('@')
l[1]

konverge.ai

# Dictionaries

In [15]:
di = {}
di['age'] = 21
di['course'] = 101
di

{'age': 21, 'course': 101}

In [21]:
names = ['john', 'gwen', "sofi", 'monty', 'john']
freq = {}
for i in names:
    freq[i] = freq.get(i,0) + 1
#     if i in freq: freq[i] +=1    
#     else: freq[i] = 1
freq

{'john': 2, 'gwen': 1, 'sofi': 1, 'monty': 1}

In [22]:
freq.get('pratik',0)
for i in freq:
    print(i,freq[i])

john 2
gwen 1
sofi 1
monty 1

In [24]:
print(list(freq))
print(freq.keys())
print(freq.values())
print(freq.items())

['john', 'gwen', 'sofi', 'monty']
dict_keys(['john', 'gwen', 'sofi', 'monty'])
dict_values([2, 1, 1, 1])
dict_items([('john', 2), ('gwen', 1), ('sofi', 1), ('monty', 1)])

In [25]:
for i,j in freq.items():
    print(i,j)

john 2
gwen 1
sofi 1
monty 1

# Tuples

## Exercise 09

In [11]:
fname = input("Enter File: ")
if len(fname) < 1 : fname = 'clown.txt'
hand = open(fname)

di = {}
for lin in hand:
    lin = lin.rstrip()
    wds = lin.split()
    for w in wds:
        di[w] = di.get(w,0) + 1
    
# print(di)

max = -1
word = None
for k,v in di.items():
    if v > max:
        max = v   
        word = k
        
print("Done", max, word)

Enter File: intro.txt
Done 226 the

In [12]:
(a ,b, c) = (None, 22, "hola")
print(a, b, c)

None 22 hola

In [25]:
(0, 1, 2) < (5, 1, 2)
("jones", "sally") < ("jones", "sam")

True

In [28]:
dic = {'a':10, 'b':1, 'c':22}
dic.items()
sorted(dic.items())
for (k, v) in sorted(dic.items()):
    print(k, v)

a 10
b 1
c 22

In [29]:
tmp = list()
for k, v in dic.items():
    tmp.append((v, k))

print(tmp)
tmp = sorted(tmp, reverse=True)
print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]
[(22, 'c'), (10, 'a'), (1, 'b')]

In [35]:
fhand = open("intro.txt")
count = dict()
for line in fhand:
    words = line.split()
    for word in words:
        count[word] = count.get(word, 0) + 1

lst = list()
for k, v in count.items():
    lst.append((v,k))
    
lst = sorted(lst, reverse=True)
for v,k in lst[:10]:
    print(k,v)

the 226
to 204
a 165
and 160
you 130
is 112
of 103
Python 85
that 68
in 66

In [36]:
print(sorted([ (v,k) for k,v in dic.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

## Exercise 10

In [42]:
fname = input("Enter File: ")
if len(fname) < 1 : fname = 'clown.txt'
hand = open(fname)

di = {}
lst = []
for lin in hand:
    lin = lin.rstrip()
    wds = lin.split()
    for w in wds:
        di[w] = di.get(w,0) + 1
    
for k, v in di.items():
    lst.append((v,k))
    
lst = sorted(lst, reverse=True)
for v,k in lst[:5]:
    print(k,v)

Enter File: intro.txt
the 226
to 204
a 165
and 160
you 130

# RegEx

In [ ]:
import re